/* style.css */

body {
    background: #e5e5e5;
}

/* Stili per il contenitore principale */
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #e5e5e5, #ffa500);
}

/* Stili per l'header (intestazione) */
.header {
    text-align: center;
    padding: 15px 20px;
    background-color: #ffa500;
    color: #333;
    border-radius: 20px;
}

/* Stili per il titolo principale */
.main-title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.main-title img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -29px;
    left: calc(50% - 144px);
    transform: rotate(-15deg);
    z-index: 1;
}

/* Stili per il menu */
.subsections {
    background-color: #ffe56f;
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px; /* Aggiungi margine sopra il menu */
}

.subsections ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra i link orizzontalmente */
}

.subsections ul li {
    margin-right: 20px; /* Spazio tra i link */
}

.subsections ul li:last-child {
    margin-right: 0; /* Rimuovi il margine destro dall'ultimo link */
}

.subsections ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out; /* Aggiungi transizione per il bordo */
    padding: 5px 10px; /* Spazio intorno al testo del link */
    border: 1px solid transparent; /* Nascondi il bordo inizialmente */
    border-radius: 20px;
}

/* Stili per il passaggio del mouse sui link del menu */
.subsections ul li a:hover {
    background-color: #ff7ce3e7;
    color: #ffffff;
    border-color: #333; /* Mostra il bordo al passaggio del mouse */
}

/* Stili per il contenuto principale con immagine */
main {
    flex-grow: 1; /* Flessibile per occupare lo spazio rimanente */
    text-align: center;
}

main img {
    max-width: 100%; /* Massima larghezza dell'immagine al 100% della larghezza del contenuto principale */
    height: auto; /* Impedisce la distorsione dell'immagine */
}

/* Stili per l'effetto di hover sui link nella landing page */
.nav ul li:hover {
    background-color: #ffa500; /* Colore di sfondo al passaggio del mouse (arancione) */
    color: #fff; /* Colore del testo al passaggio del mouse (bianco) */
    border-radius: 20px; /* Aggiungi bordi smussati */
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Stili per i social icons */
.social-icons {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon {
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s; /* Aggiungi transizione per il colore e la trasformazione */
}

/* Ingrossa leggermente il simbolo al passaggio del mouse */
.social-icon:hover {
    color: #ff5733;
    transform: scale(1.2); /* Ingrossa il simbolo del 20% al passaggio del mouse */
}

/* Stile per il link ai log del sito */
.log-link {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #333;
    padding: 7px 10px;
    border-radius: 50%;
    transition: color 0.2s, transform 0.2s; /* Aggiungi transizione per il colore e la trasformazione */
}

.log-link:hover {
    background-color: #686868; /* Cambia il colore di sfondo al passaggio del mouse */
    color: #3eda00;
    transform: scale(1.2); /* Ingrossa il simbolo del 20% al passaggio del mouse */
}
