/* style.css */

/* Stili per il contenitore principale */
.container {
    width: 100%; /* Imposta la larghezza al 100% */
    height: 100%; /* Imposta l'altezza al 100% */
    display: flex;
    flex-direction: column; /* Imposta la direzione del layout a colonna */
    background: linear-gradient(to right, #ffffff, #ffa500); /* Sfondo più tenue */
}

/* Stili per l'header (intestazione) */
.header {
    text-align: center;
    padding: 20px;
    background-color: #ffa500;
    color: #333;
    border-radius: 20px; /* Aggiungi bordi smussati */
}

/* Stili per il titolo principale */
.main-title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.main-title img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -29px;
    left: calc(50% - 144px);
    transform: rotate(-15deg);
    z-index: 1;
}

/* Nascondi il menù a comparsa all'inizio */
.sidebar {
    transform: translateX(-300px);
    transition: 0.4s;
    width: 250px;
    background-color: #fff; /* Colore di sfondo bianco */
    color: #333; /* Colore del testo più scuro */
    padding: 10px;
    overflow-y: auto;
    border-right: 3px solid #ffa500; /* Aggiungi una sottile linea arancione a destra */
    border-radius: 20px; /* Bordo più smussato */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333; /* Colore del testo più scuro */
    display: block;
    padding: 15px; /* Maggiore spazio tra i link */
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 20px; /* Bordo più smussato */
}

/* Stili per il passaggio del mouse sui link del menù */
.sidebar nav ul li a:hover {
    background-color: #ffa500; /* Colore di sfondo al passaggio del mouse (arancione) */
    color: #fff; /* Colore del testo al passaggio del mouse (bianco) */
    border-radius: 20px; /* Aggiungi bordi smussati */
}

/* Stili per l'apertura del menù a comparsa */
.sidebar.active {
    transform: translateX(0);
}

.line {
    width: 25px;
    height: 3px;
    background-color: #333; /* Colore delle linee */
    margin: 5px 0;
    transition: 0.4s;
}

/* Stili per l'icona del menù a comparsa */
.menu-icon {
    cursor: pointer;
}

/* Stili per l'icona del menù attivo */
.menu-icon.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-icon.active .line:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Stili per il contenuto principale con immagine */
main {
    flex-grow: 1; /* Flessibile per occupare lo spazio rimanente */
    text-align: center;
}

main img {
    max-width: 100%; /* Massima larghezza dell'immagine al 100% della larghezza del contenuto principale */
    height: auto; /* Impedisce la distorsione dell'immagine */
}

/* Stili per l'effetto di hover sui link nella landing page */
.nav ul li:hover {
    background-color: #ffa500; /* Colore di sfondo al passaggio del mouse (arancione) */
    color: #fff; /* Colore del testo al passaggio del mouse (bianco) */
    border-radius: 20px; /* Aggiungi bordi smussati */
}

/* Stili per i social icons */
.social-icons {
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon {
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s; /* Aggiungi transizione per il colore e la trasformazione */
}

/* Ingrossa leggermente il simbolo al passaggio del mouse */
.social-icon:hover {
    color: #ff5733;
    transform: scale(1.2); /* Ingrossa il simbolo del 20% al passaggio del mouse */
}

/* Stile per il link ai log del sito */
.log-link {
    position: absolute;
    top: 12px;
    left: 12px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #333;
    padding: 7px 10px;
    border-radius: 20px;
    transition: color 0.2s, transform 0.2s; /* Aggiungi transizione per il colore e la trasformazione */
}

.log-link:hover {
    background-color: #686868; /* Cambia il colore di sfondo al passaggio del mouse */
    color: #3eda00;
    transform: scale(1.2); /* Ingrossa il simbolo del 20% al passaggio del mouse */
}
