/* style.css */

body {
    background: #e5e5e5;
}

h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Ombra del testo */
}

/* Stili per il contenitore principale */
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #e5e5e5, rgb(255, 165, 0));
}

/* Stili per l'header (intestazione) */
.header {
    text-align: center;
    padding: 15px 20px;
    color: #333;
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(255, 165, 0), rgb(55, 255, 0)); /* Sfondo arancione sfumato verso il verde */
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Stili per il titolo principale */
.main-title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.main-title img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -29px;
    left: calc(50% - 144px);
    transform: rotate(-15deg);
    z-index: 1;
}

/* Stili per il menu quando la larghezza è superiore a 768px */
@media (min-width: 769px) {
    
    .mobile-menu {
        display: none; /* Nascondi il menu mobile sopra la soglia */
    }
    
    /* Stili per il testo "Menù" */
    .menu-text {
        display: none; /* Nascondi il menu mobile sopra la soglia */
    }

    .subsections {
        background-color: #6bc4ffd8;
        padding: 5px;
        border-radius: 20px;
        margin-top: 10px;
    }

    .subsections ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .subsections ul li {
        margin-right: 20px;
    }

    .subsections ul li:last-child {
        margin-right: 0;
    }

    .subsections ul li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
        padding: 5px 10px;
        border: 1px solid transparent;
        border-radius: 20px;
    }

    .subsections ul li a:hover {
        background-color: #cc59fd89;
        color: #ffffff;
        border-color: #333;
    }
}

/* Stili per il menu quando la larghezza è inferiore o uguale a 768px */
@media (max-width: 768px) {

    /* Stili per l'icona hamburger */
    .menu-icon {
        font-size: 24px;
        display: block;
        position: relative;
        cursor: pointer;
    }
    
    /* Aggiungi stili per il contenitore del testo "Menù" e l'icona */
    .mobile-menu-toggle {
        display: flex; /* Usa un layout flexbox */
        align-items: center; /* Allinea verticalmente al centro */
    }
    
    /* Stili per il testo "Menù" */
    .menu-text {
        font-size: 20px;
        color: #333;
        margin-left: 10px; /* Aggiungi spazio tra l'icona e il testo */
    }

    .subsections ul li {
        display: none;
    }

    /* Stili per le linee dell'icona */
    .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }

    /* Stili per l'icona del menu mobile (X) */
    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
        width: 25px;
        top: 12px; /* Regola la posizione delle linee per ottenere l'aspetto di una "X" */
    }
    
    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
        width: 25px;
        top: 12px; /* Regola la posizione delle linee per ottenere l'aspetto di una "X" */
    }

    /* Rimuovi la trasformazione del menu mobile */
    .mobile-menu.active {
        display: block;
        transform: translateY(0%);
    }
    
    /* Stili per il menu mobile */
    .mobile-menu {
        display: none; /* Nascondi il menu mobile inizialmente */
        position: relative;
        background-color: #6bc4ffd8;
        padding: 5px;
        border-radius: 20px;
        z-index: 1; /* Imposta uno z-index superiore per far sovrapporre il menu mobile */
        transform: translateY(-100%); /* Muovi il menu mobile verso l'alto, inizialmente nascosto */
        transition: transform 0.3s ease-in-out; /* Aggiungi una transizione per un effetto di scorrimento */
        width: 150px; /* Rendi il menu mobile largo quanto il contenitore */
        max-width: 150px; /* Larghezza massima del menu mobile */
        top: -1.5rem;
        left: 1.3rem;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-menu ul li {
        margin-bottom: 10px;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
        padding: 5px 10px;
        border: 1px solid transparent;
        border-radius: 20px;
        max-width: 200px; /* Larghezza massima del menu */
    }

    .mobile-menu ul li a:hover {
        background-color: #cc59fd89;
        color: #ffffff;
        border-color: #333;
    }

}

/* Stili per il contenuto principale con immagine */
main {
    flex-grow: 1; /* Flessibile per occupare lo spazio rimanente */
    text-align: center;
}

main img {
    max-width: 100%; /* Massima larghezza dell'immagine al 100% della larghezza del contenuto principale */
    height: auto; /* Impedisce la distorsione dell'immagine */
}

/* Stili per l'effetto di hover sui link nella landing page */
.nav ul li:hover {
    background-color: #ffa500; /* Colore di sfondo al passaggio del mouse (arancione) */
    color: #fff; /* Colore del testo al passaggio del mouse (bianco) */
    border-radius: 20px; /* Aggiungi bordi smussati */
}

/* Stili per i social icons */
.social-icons {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon {
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s; /* Aggiungi transizione per il colore e la trasformazione */
}

/* Ingrossa leggermente il simbolo al passaggio del mouse */
.social-icon:hover {
    color: #ff5733;
    transform: scale(1.2); /* Ingrossa il simbolo del 20% al passaggio del mouse */
}

/* Stile per il link ai log del sito */
.log-link {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    transition: color 0.2s, transform 0.2s; /* Aggiungi transizione per il colore e la trasformazione */
}

.log-link:hover {
    background-color: #686868; /* Cambia il colore di sfondo al passaggio del mouse */
    color: #3eda00;
    transform: scale(1.2); /* Ingrossa il simbolo del 20% al passaggio del mouse */
}
