/* style.css */

body {
    background: #e5e5e5;
}

h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow */
}

p {
    font-size: 20px;
}

h1, h2, p {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styles for the main container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #e5e5e5, rgb(255, 165, 0));
}

/* Styles for the header */
.header {
    text-align: center;
    padding: 15px 20px;
    color: #333;
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(255, 165, 0), rgb(55, 255, 0)); /* Orange to green gradient background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a blurred shadow */
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styles for the main title */
.main-title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.main-title img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -29px;
    left: calc(50% - 144px);
    transform: rotate(-15deg);
    z-index: 1;
}

/* Styles for the menu when width is greater than 768px */
@media (min-width: 769px) {

    .mobile-menu {
        display: none; /* Hide the mobile menu above the threshold */
    }

    /* Styles for the "Menu" text */
    .menu-text {
        display: none; /* Hide the mobile menu text above the threshold */
    }

    .subsections {
        background-color: #6bc4ffd8;
        padding: 5px;
        border-radius: 20px;
        margin-top: 10px;
    }

    .subsections ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .subsections ul li {
        margin-right: 20px;
    }

    .subsections ul li:last-child {
        margin-right: 0;
    }

    .subsections ul li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
        padding: 5px 10px;
        border: 1px solid transparent;
        border-radius: 20px;
    }

    .subsections ul li a:hover {
        background-color: #cc59fd89;
        color: #ffffff;
        border-color: #333;
    }
}

/* Styles for the menu when width is less than or equal to 768px */
@media (max-width: 768px) {

    /* Styles for the hamburger icon */
    .menu-icon {
        font-size: 24px;
        display: block;
        position: relative;
        cursor: pointer;
    }

    /* Add styles for the text "Menu" container and icon */
    .mobile-menu-toggle {
        display: flex; /* Use flexbox layout */
        align-items: center; /* Vertically align center */
    }

    /* Styles for the "Menu" text */
    .menu-text {
        font-size: 20px;
        color: #333;
        margin-left: 10px; /* Add space between the icon and the text */
    }

    .subsections ul li {
        display: none;
    }

    /* Styles for the lines of the icon */
    .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }

    /* Styles for the mobile menu icon (X) */
    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
        width: 25px;
        top: 12px; /* Adjust the position of the lines to achieve an "X" appearance */
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
        width: 25px;
        top: 12px; /* Adjust the position of the lines to achieve an "X" appearance */
    }

    /* Remove the transformation of the mobile menu */
    .mobile-menu.active {
        display: block;
        transform: translateY(0%);
    }

    /* Styles for the mobile menu */
    .mobile-menu {
        display: none; /* Initially hide the mobile menu */
        position: relative;
        background-color: #6bc4ffd8;
        padding: 5px;
        border-radius: 20px;
        z-index: 1; /* Set a higher z-index to overlap the mobile menu */
        transform: translateY(-100%); /* Move the mobile menu upwards, initially hidden */
        transition: transform 0.3s ease-in-out; /* Add a transition for a sliding effect */
        width: 150px; /* Make the mobile menu as wide as the container */
        max-width: 150px; /* Maximum width of the mobile menu */
        top: -1.5rem;
        left: 1.3rem;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-menu ul li {
        margin-bottom: 10px;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
        padding: 5px 10px;
        border: 1px solid transparent;
        border-radius: 20px;
        max-width: 200px; /* Maximum width of the menu */
    }

    .mobile-menu ul li a:hover {
        background-color: #cc59fd89;
        color: #ffffff;
        border-color: #333;
    }
}

/* Styles for the main content with an image */
main {
    flex-grow: 1; /* Flexible to occupy the remaining space */
    text-align: center;
}

main img {
    max-width: 100%; /* Maximum image width at 100% of the main content width */
    height: auto; /* Prevents image distortion */
}

/* Styles for the hover effect on links in the landing page */
.nav ul li:hover {
    background-color: #ffa500; /* Background color on mouse hover (orange) */
    color: #fff; /* Text color on mouse hover (white) */
    border-radius: 20px; /* Add rounded borders */
}

/* Styles for social icons */
.social-icons {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon-fb {
    color: white;
    background-color: #0866FF;
    border-radius: 50%; /* Make the border circular */
    width: 35px; /* Set the width */
    height: 35px; /* Set the height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s; /* Add transition for color and transformation */
}

.social-icon-tw {
    color: #ffffff;
    background-color: black;
    border-radius: 50%; /* Make the border circular */
    width: 35px; /* Set the width */
    height: 35px; /* Set the height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s; /* Add transition for color and transformation */
}

.social-icon-in {
    color: white;
    border-radius: 50%; /* Make the border circular */
    width: 35px; /* Set the width */
    height: 35px; /* Set the height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s; /* Add transition for color and transformation */
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.social-icon-li {
    color: #ffffff;
    background-color: #0a66c2;
    border-radius: 50%; /* Make the border circular */
    width: 35px; /* Set the width */
    height: 35px; /* Set the height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s; /* Add transition for color and transformation */
}

.social-icon-gh {
    color: black;
    background-color: white;
    border-radius: 50%; /* Make the border circular */
    width: 35px; /* Set the width */
    height: 35px; /* Set the height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s; /* Add transition for color and transformation */
}

/* Slightly enlarge the symbol on hover */
.social-icon-fb:hover, .social-icon-tw:hover, .social-icon-in:hover, .social-icon-li:hover, .social-icon-gh:hover {
    transform: scale(1.2); /* Enlarge the symbol by 20% on hover */
}

/* Style for the link to site logs */
.log-link {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #333;
    padding: 8px 10px;
    border-radius: 50%;
    transition: color 0.2s, transform 0.2s; /* Add transition for color and transformation */
}

.log-link:hover {
    background-color: #686868; /* Change background color on hover */
    color: #3eda00;
    transform: scale(1.2); /* Enlarge the symbol by 20% on hover */
}

/* Styles for the dark theme */
.dark-theme {
    background-color: #000; /* Change background color to dark gray */
    color: #e7e7e7; /* Change text color to white */
    text-shadow: none; /* Remove text shadow */
}

/* Styles for the theme toggle button */
.theme-toggle-button {
    background-color: #6ab2ff; /* Blue background for the dark theme */
    border: none;
    border-radius: 50%;
    font-size: 20px; /* Button size */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styles for the sun symbol */
#theme-icon.fa-sun {
    font-size: 24px;
    padding: 7px 3px;
    color: #FFD700; /* Yellow for the sun */
}

/* Styles for the moon symbol */
#theme-icon.fa-moon {
    font-size: 24px;
    padding: 7px;
    color: #e7e7e7; /* White for the moon */
}

/* Style of the popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark and translucent background */
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e7e7e7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-message {
    white-space: wrap;
}

/* CSS to center the button vertically */
.popup-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Style of the OK button */
#popup-ok-button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#popup-ok-button:hover {
    background: #0056b3;
}

.language-selector {
    text-align: left;
    margin-top: 10px; /* Optional: Add top margin to separate from the social icons section */
}

/* Update style for flag images */
.language-flag {
    max-width: 30px; /* Set maximum width of flags */
    height: auto; /* Maintain original proportions */
    cursor: pointer; /* Change cursor on hover to indicate clickability */
    margin: 0 2px; /* Add margin between flags to visually separate them */
    transition: filter 0.3s ease; /* Add transition for a smoother effect */
}

.language-flag:hover {
    transform: scale(1.2);
}

/* Add a style for inactive flags */
.language-flag.inactive-flag {
    filter: brightness(70%); /* Darken the inactive flag */
}
