/* subsection.css */

h1, h2, h3, p {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Stili per il titolo principale */
.main-title-subsections {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

/* Stili per il bottone Home */
.home-button-subsection {
    position: relative;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    padding: 10px; /* Aumenta il padding per aumentare la dimensione */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stili per l'icona */
.home-button-subsection i {
    margin-right: 0; /* Rimuovi il margine destro dell'icona */
    font-size: 20px; /* Aumenta la dimensione dell'icona */
}

/* Stili per la tabella e il suo contenitore */
.table-container {
    overflow-x: auto; /* Abilita la barra di scorrimento orizzontale se la tabella è troppo larga per lo schermo */
    margin-top: 20px;
}

/* Aggiungi uno sfondo gradient alla tabella */
table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(to bottom, #d59a07, #f6d30d); /* Colore di sfondo gradient */
    color: #000000; /* Colore del testo */
}

/* Stili per le intestazioni delle colonne */
thead {
    background-color: rgba(102, 87, 0, 0.533); /* Sfondo semi-trasparente per le intestazioni */
}

th {
    border: 1px solid #b2b2b2;
    padding: 10px;
}

/* Stili per le celle della tabella */
td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Stili per le righe pari della tabella */
tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Sfondo semi-trasparente per le righe pari */
}

/* Stili per il simbolo Alpha rosso */
.alpha-symbol {
    color: rgb(255, 0, 0); /* Colore rosso per il simbolo */
    font-size: 25px; /* Imposta la dimensione del simbolo Alpha a 25px */
}

/* Stili per la sezione dei link esterni */
.external-links {
    text-align: left; /* Allinea il contenuto a sinistra */
    margin-left: 20px; /* Aggiunge un margine sinistro per allineare il titolo e l'elenco */
}

/* Stili per il titolo */
.external-links h2 {
    font-size: 24px; /* Modifica la dimensione del titolo a tuo piacimento */
    margin-bottom: 10px; /* Aggiungi uno spazio tra il titolo e l'elenco */
}

/* Stili per l'elenco puntato */
.external-links ul {
    list-style-type: disc; /* Usa una lista puntata con dei cerchi */
    margin-left: 20px; /* Aggiungi un margine sinistro all'elenco */
    padding-left: 0; /* Rimuovi il padding predefinito dell'elenco */
}

/* Stili per gli elementi dell'elenco */
.external-links li {
    margin-bottom: 5px; /* Aggiungi uno spazio tra gli elementi dell'elenco */
}
