/* subsection.css */

h1, h2, h3, p {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styles for the main title */
.main-title-subsections {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

/* Styles for the Home button */
.home-button-subsection {
    position: relative;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    padding: 10px; /* Increase padding to increase the size */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the icon */
.home-button-subsection i {
    margin-right: 0; /* Remove the right margin of the icon */
    font-size: 20px; /* Increase the size of the icon */
}

/* Styles for the table and its container */
.table-container {
    overflow-x: auto; /* Enable horizontal scroll bar if the table is too wide for the screen */
    margin-top: 20px;
}

/* Add a gradient background to the table */
table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(to bottom, #d59a07, #f6d30d); /* Gradient background color */
    color: #000000; /* Text color */
}

/* Styles for column headers */
thead {
    background-color: rgba(102, 87, 0, 0.533); /* Semi-transparent background for headers */
}

th {
    border: 1px solid #b2b2b2;
    padding: 10px;
}

/* Styles for table cells */
td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Styles for even rows of the table */
tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background for even rows */
}

/* Styles for the red Alpha symbol */
.alpha-symbol {
    color: rgb(255, 0, 0); /* Red color for the Alpha symbol */
    font-size: 25px; /* Set the size of the Alpha symbol to 25px */
}

/* Styles for the section of external links */
.external-links {
    text-align: left; /* Align content to the left */
    margin-left: 20px; /* Add left margin to align the title and the list */
}

/* Styles for the title */
.external-links h2 {
    font-size: 24px; /* Modify the size of the title as desired */
    margin-bottom: 10px; /* Add space between the title and the list */
}

/* Styles for the bulleted list */
.external-links ul {
    list-style-type: disc; /* Use a bulleted list with circles */
    margin-left: 20px; /* Add left margin to the list */
    padding-left: 0; /* Remove default list padding */
}

/* Styles for list items */
.external-links li {
    margin-bottom: 5px; /* Add space between list items */
}
